.full-bleed-embed {
  width: 55vw;
  max-width: 1200px;
  height: 70vh;
  min-height: 600px;
  /* margin: 0 auto; */
}

.full-bleed-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.dashboard-embed {
  width: 100%;
  max-width: 1300px;
  height: 75vh;
  min-height: 650px;
  margin: 0 auto;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.image-row-item {
  flex: 1 320px;
  text-align: center;
  max-width: 520px;
}

.image-row img {
  width: 100%;
  height: auto;
  display: block;
}
