.full-bleed-embed {
  width: 55vw;
  max-width: 1200px;
  height: 70vh;
  min-height: 600px;
  /* margin: 0 auto; */
}

.full-bleed-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* .dashboard-embed {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
} */

.dashboard-embed .full-bleed-iframe {
  height: 800px;
  display: block;
}

.tableau-embed {
  width: 53vw;
  max-width: 1180px;
  height: 70vh;
  min-height: 600px;
  /* margin: 0 auto; */
}

.powerbi-embed {
  width: 55vw;
  max-width: 1150px;
  height: 70vh;
  min-height: 600px;
  /* margin: 0 auto; */
}